version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: bitcoin_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      # PERSISTENCE: Data is stored in postgres_data folder on host
      - ./postgres_data:/var/lib/postgresql/data

  etl:
    build: ./etl
    depends_on:
      - db
    volumes:
      #To dev without relaunch
      - ./etl:/app
      # SHARED: To deposit the trained model
      - ./shared_models:/app/models
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/bitcoin_db

  #Fastapi service
  api:
    build: ./api
    ports:
      - "8000:8000"
    volumes:
      #Hot-reload of the backend
      - ./api:/app
      - ./shared_models:/app/models:ro
    environment:
      #The api also needs the db
      DATABASE_URL: postgresql://user:password@db:5432/bitcoin_db

  #Frontend React
  front:
    build: ./front
    ports:
      - "3000:3000"
    volumes:
      # CODE : Hot-reload of React
      - ./front/src:/app/src
      # Node tip: Do not overwrite container's node_modules with local ones
      - /app/node_modules
    environment:
      # The API URL for React to make its fetch() requests
      VITE_API_URL: http://localhost:8000
