version: "3.8"

services:
  # --- 1. Database (La mémoire) ---
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: bitcoin_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      # PERSISTANCE : Les données sont stockées dans un dossier 'postgres_data' sur ton PC
      - ./postgres_data:/var/lib/postgresql/data

  # --- 2. ETL (Le constructeur) ---
  etl:
    build: ./etl
    depends_on:
      - db
    volumes:
      # CODE : Pour développer sans relancer
      - ./etl:/app
      # PARTAGE : Pour déposer le modèle entraîné
      - ./shared_models:/app/models
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/bitcoin_db

  # --- 3. FastAPI (Le serveur) ---
  api:
    build: ./api
    ports:
      - "8000:8000"
    volumes:
      # CODE : Hot-reload du backend
      - ./api:/app
      # PARTAGE : Pour lire le modèle déposé par l'ETL (Lecture seule recommandée ro)
      - ./shared_models:/app/models:ro
    environment:
      # L'API a aussi besoin de la DB pour lire l'historique récent si besoin
      DATABASE_URL: postgresql://user:password@db:5432/bitcoin_db

  # --- 4. Frontend React (La vitrine) ---
  front:
    build: ./front
    ports:
      - "3000:3000"
    volumes:
      # CODE : Hot-reload du React
      - ./front/src:/app/src
      # Astuce Node : Ne pas écraser les node_modules du conteneur avec ceux du local
      - /app/node_modules
    environment:
      # L'URL de l'API pour que React puisse faire ses fetch()
      REACT_APP_API_URL: http://localhost:8000
